
<div>
    <form action="/post/createpost" method="POST" id="post-form">

        <div>
            <!-- TextArea -->
            <textarea name="post" id="post-box" cols="50" rows="5" style="resize: none; padding:5px; border:none; border-radius: 3px;box-shadow: inset 6px 6px 10px 0 rgba(80, 79, 79, 0.2),
            inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);" placeholder="Type here..."></textarea>
        </div>
        <div class="selectors">
            <!-- Tags and Question to -->

            <!-- Question to -->
            <div>
                <label for="question-to"> Question to:</label>
                <select name="question_to" id="question-to">
                    <option value="All">All</option>
                    <% for(user of users){ %>
                        <% if(!(user._id.equals(loggedUser._id))){ %>
                            
                            <option value="<%= user.email %>"> <%= user.email %> </option>
                        <% } %> 
                        
                    <% } %> 
                    
                </select>
            </div>

            <!-- Tags -->
            <div  style="margin-bottom: 8px;">
                <span>Tags: </span>
                <input type="checkbox" id="interest1"
                       name="interest" value="development">
                <label for="interest1">Development</label>
                <input type="checkbox" id="interest2"
                       name="interest" value="Ideas">
                <label for="interest2">Ideas</label>
                <input type="checkbox" id="interest3"
                       name="interest" value="General">
                <label for="interest3">General</label>
            </div>

        </div>
        <div>
            <!-- Button for Post -->
            <input type="submit" name="submit" id="submit" value="Post">
        </div>
        

    </form>
    
</div>

<br>
