
<div>
    <form action="#" method="POST">

        <div>
            <!-- TextArea -->
            <textarea name="post" id="post" cols="50" rows="5"></textarea>
        </div>
        <div>
            <!-- Tags and Question to -->

            <!-- Question to -->
            <div>
                <label for="question-to"> Question to:</label>
                <select name="question" id="question-to">
                    <option value="a">a</option>
                    <option value="b">b</option>
                </select>
            </div>

            <!-- Tags -->
            <div>
                <input type="radio" id="contactChoice1"
                       name="contact" value="email">
                <label for="contactChoice1">Email</label>
                <input type="radio" id="contactChoice2"
                       name="contact" value="phone">
                <label for="contactChoice2">Phone</label>
                <input type="radio" id="contactChoice3"
                       name="contact" value="mail">
                <label for="contactChoice3">Mail</label>
              </div>

        </div>
        <div>
            <!-- Button for Post -->
            <input type="submit" name="submit" id="submit" value="Post">
        </div>

    </form>
    
</div>