<div class="post-container">

    <div>

    </div>

    <div>
        <div>
            <!-- likes -->
        </div>
        <div>
            <!-- dislike -->
        </div>
        <div>
            <!-- go to  post -->
        </div>
    </div>

</div>