

<div class="sidebar">

    <div class="icon-elements">
        

        <% if(locals.user){ %>
            
            <div class="logo home">
                <a href="/"><i class="fas fa-home" style="color: white;"></i>
                <br>
                <span class="text-dec-home">Home</span></a>
            </div>
            <div class="logo my-feeds">
                <a href="/users/myfeeds"><i class="fas fa-rss-square" style="color: white;"></i>
                <br>
    
                <span class="text-dec-feeds">Feeds</span></a>
            </div>
            <div class="logo user-profile">
                <a href="/users/profile"><i class="far fa-user-circle" style="color: white;"></i>
                <br>
                <span class="text-dec-profile">Profile</span></a>
            </div>
            <div class="logo list-of-user">
                <a href="/users/member_list"><i class="fas fa-users" style="color: white;"></i>
                <br>
                <span class="text-dec-users">Members</span></a>
            </div>
            <div class="logo personal-que">
                <a href="/users/personal_que"><i class="far fa-question-circle" style="color: white;"></i>
                <br>
                <span class="text-dec-que">Personal</span>
                <span class="text-dec-que">Questions</span></a>
            </div>

            <div class="logo signout">
                <a href="/users/signout"><i class="fas fa-sign-out-alt" style="color: white;"></i>
                <br>
                <span class="text-dec-sign-out">Sign Out</span></a>
            </div>
        <% }else{ %>

        <div class="logo user-profile">
            <a href="/users/signin"><i class="fas fa-sign-in-alt" style="color: white;"></i>
            <br>
            <span class="text-dec-profile">&nbsp; Sign In</span>
            <br>
            <span class="text-dec-profile">&nbsp; &nbsp; &nbsp; OR</span>
            <br>
            <span class="text-dec-profile">&nbsp; Sign Up</span></a>
        </div>

        <% } %> 

    </div>
    
</div>