<div>
    <p>
        Thanks for register with us.
    </p>
    <p>
        Please confirm your email by clicking link in your email <%= email %> .
    </p>
    <p>
        Then Login to access your account.
    </p>
</div>