<link rel="stylesheet" href="/css/index.css">

<div class="homepage-container">
    <% if(!locals.user){ %>
        <%= title %> 
    <% } %> 
     
    <%# locals.user %>

    <% if(locals.user){ %> 
    <div class="box">
        <!-- Box -->
        <%- include("_box"); %>
    </div>
    <% } %> 
    <div class="post-list">
        <%- include("_post"); %>
    </div>
</div>