
<div>
    <%= title %>
    <%# locals.user %>

    <% if(locals.user){ %> 
    <div>
        <!-- Box -->
        <%- include("_box"); %>
    </div>
    <% } %> 
    <div>
        <!-- Posts -->
    </div>


</div>