<link rel="stylesheet" href="/css/my_feeds.css">

<div class="feeds">

    <div class="typing-box">
        <form action="">
            <textarea style="resize: none;" name="posts" id="new-post-box" cols="50" rows="5"></textarea>
        </form>
    </div>

    <div class="feeds-list">

    </div>

</div>

<div class="chat">

</div>