<link rel="stylesheet" href="/css/index.css">

<div class="post-container">

    <% for(let i=0; i<posts.length; i++){ %>

        <% if(locals.user){ %>
            <% let isPost = 0; %> 
            <% if(!(locals.user._id.equals(posts[i].user._id))){ %>
                
                <% for(let k=0; k<pref.length; k++){ %>
                    <% for(let m=0; m<posts[0].interest.length; m++){ %>
                        
                        <% if(pref[k] == (posts[i].interest[m])){ %>
                            <% console.log("There") %> 
                            <% isPost++; %>
                            <%# console.log(isPost); %> 
                            <!-- shows only the post whose preference matches with the user interest -->
                            <div class="post">
    
                                <div>
                                    <textarea name="post-data" id="post-data" cols="55" rows="7" readonly style="resize: none; "><%= posts[i].post %> </textarea>
                                </div>
                            
                                <div id="post-btn">
                                    <div>
                                        <!-- likes -->
                                        <button id="like"><i class="fas fa-thumbs-up"></i></button>
                                        <span id="no">100</span>
                                    </div>
                                    <div>
                                        <!-- dislike -->
                                        <button id="dislike"><i class="fas fa-thumbs-down"></i></button>
                                        <span id="no">12</span>
                                    </div>
                                    <div>
                                        <!-- go to  post -->
                                        <a href="#" id="goto">Go to</a>
                                    </div>
                                </div>
                                <div id="tag">
                                    <ul>
                                        <% for(let k=0; k<posts[i].interest.length; k++){ %>
                                            <li id="tag-list">
                                                <code> #<%= (posts[i].interest[k]) %> </code>
                                                
                                            </li>
                                        <% } %> 
                                    </ul>
                                        
                                </div>
            
                                <div id="post-author">
                                    <span>
                                        <%= posts[i].user.first_name %> 
                                    </span>
                                    <span><%= posts[i].user.second_name %></span>
                                </div>
                            
                            </div>


                        <% } %> 
                        
                    <% } %> 

                <% } %> 
                <% if(isPost <= 0){ %>
                    <%# console.log(isPost); %> 
                    <h2>No Posts Available</h2>
                <% } %> 
    
            <% } %>
            
        <% }%>

    <% } %> 

</div>

