<link rel="stylesheet" href="/css/reset_password.css">

<div class="card">
    
    <div class="heading"> <Strong>Reset Password</Strong>  </div>

    <form action="/password/reset" method="POST" class="form">

        <div class="code">
            <label for="email"> <strong>Email</strong> </label>
            <br>
            <input type="email" name="email" placeholder="Enter Your Email" id="code" required>
        </div>
        
        <div class="reset-button">
            <input type="submit" name="submit" id="submit" value="Reset">
        </div>

    </form>


</div>