<link rel="stylesheet" href="/css/reset_password.css">

<div class="card">
    
    <div class="heading"> <Strong>Reset Password</Strong>  </div>

    <form action="/users/reset" method="POST" class="form">

        <div class="code">
            <label for="code"> <strong>Code</strong> </label>
            <br>
            <input type="text" name="code" placeholder="Code" id="code" required>
        </div>

        <div class="password">
            <label for="password"><strong>New Password</strong> </label>
            <input type="password" name="password" placeholder="Password" id="password" required>
        </div>

        <div class="password">
            <label for="password"><strong>Confirm Password</strong> </label>
            <input type="password" name="password" placeholder="Password" id="password" required>
        </div>
        
        <div class="reset-button">
            <input type="submit" name="submit" id="submit" value="Reset">
        </div>

    </form>


</div>