<div>
    <p>Hi,</p>
    <div>
        <p>We're glad to join you as our Innovator's family</p>
        <p>
            Please press the button to confirm you email
        </p>
        <a href="<%= link %>"><button>Click Here</button></a>
        
    </div>
</div>