<div>
    <p>Hi,</p>
    <div>
        <p>Here's what you want!</p>
        <p>
            Reset Code: 
        </p>
        <strong><code><%= code %></code></strong>
        
    </div>
</div>