.homepage-container{
    width: 650px;
    height: 98vh;
    border: 1px solid red;
    position: relative;
    display: fixed;
}

/* Box */
.box{
    margin: 20px 0px 10px 30px;
    border: 1px solid orange;
    position: absolute;
}
#post-box{
    resize: none;
    font-size: medium;
}

#question-to{
    margin-top: 7px;
}

/* Posts */
.post-list{
    height: 97vh;
    width: 600px;
    margin: 180px 0px 10px 30px;
    border: 1px solid black;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}
.post-list::-webkit-scrollbar { /* WebKit */
    width: 7px;
    height: auto;
    /*color: #131c44;*/
}
/* Track */
.post-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0D0F28; 
  border-radius: 10px;
}
 
/* Handle */
.post-list::-webkit-scrollbar-thumb {
  background: #12244B; 
  border-radius: 7px;
}

/* Handle on hover */
.post-list::-webkit-scrollbar-thumb:hover {
  background: #676E90; 
}
/* Post container */
.post-container{
    height: auto;
    width: auto;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
}

.post{
    height: 114;
    width: 585px;
    border: 1px solid red;
    position: relative;
    margin-bottom: 5px;
    
    display: flex;
}
#post-data{
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
}
#post-btn{
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    padding: 5px;
    left: 470px;
}
#like{
    font-size: x-large;
    margin: 8px;   
    border: none;
    background-color: transparent;
    cursor: pointer;

}
#dislike{
    font-size: x-large;
    margin: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;

}
#no{
    padding: 3px;
}
#goto{
    cursor: pointer;
    margin-left: 17px;
}
#like:focus{
    outline: none;
}
#dislike:focus{
    outline: none;
}