.member-list-container{
    height: 98vh;
    width: 600px;
    /* border: 1px solid red; */
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: inset 4px -9px 17px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
    padding: 8px;
}

.member-list-container::-webkit-scrollbar { /* WebKit*/
    width: 7px;
    height: auto;
    color: #9e372f;
}
/* Track */
.member-list-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #9e372f; 
  border-radius: 10px;
}
 
/* Handle */
.member-list-container::-webkit-scrollbar-thumb {
  background: #9e372f; 
  border-radius: 7px;
}

/* Handle on hover */
.member-list-container::-webkit-scrollbar-thumb:hover {
  background: #9e372f; 
} 

.member-list-card{
    height: 100px;
    width: 700px;
    margin-bottom: 7px;
    /* border: 1px solid green; */
    display: flex;
    position: relative;
    padding: 5px;
    box-shadow: -3px -3px 7px rgb(179, 179, 179), 3px 3px 7px rgb(228, 228, 228);

}

.member-dtls{
    height: 100px;
    width: 450px;
    /* border: 1px solid yellow; */
}

.member-btns{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.member-btns button{
    cursor: pointer; 
    font-size: 1rem;
    padding: 7px 10px;
    border: none;
    font-weight: 700;
    background-color: rgb(114, 27, 27);
    color: white;
    border-radius: 6px;
    box-shadow: -3px -3px 7px rgb(168, 168, 168), 3px 3px 7px rgb(206, 206, 206);
}

.member-btns button:hover{
    color: rgb(114, 27, 27);
    background-color: white;
}

.member-name{
    position: absolute;
    top: 7px;
    left: 100px;
    display: flex;
}

.member-email{
    position: absolute;
    top: 30px;
    left: 100px;
    display: flex;
}

.member-qtn{
    position: absolute;
    top: 50px;
    left: 100px;
    display: flex;
}

.member-follower{
    position: absolute;
    top: 70px;
    left: 100px;
    display: flex;
}