.qstn-container{
    height: 100vh;
    position: relative;
    display: flex;
    border: 1px solid red;
    flex-direction: column;
}

.qstn-sent{
    height: auto;
    max-height: 40vh;
    border: 1px solid orange;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.qstn-recieved{
    height: auto;
    max-height: 45vh;
    top: 500px;
    border: 1px solid green;
    overflow-y: scroll;
    overflow-x: hidden;
}

.post{
    height: auto;
    border: 1px solid red;
    position: relative;
    margin-bottom: 5px;
}

#post-btn{
    position: absolute;
    left: 475px;
    top: 5px;
}
#like{
    font-size: x-large;
    margin-top: 5px;
    margin-bottom: 10px;   
    border: none;
    background-color: transparent;
    cursor: pointer;

}
#dislike{
    font-size: x-large;
    margin-top: 5px;
    margin-bottom: 15px; 
    border: none;
    background-color: transparent;
    cursor: pointer;

}
#no{
    padding: 3px;
}
#goto{
    cursor: pointer;
    margin-left: 15px;
    position: absolute;
    top: 75px;
    left: -5px;
}
#like:focus{
    outline: none;
}
#dislike:focus{
    outline: none;
}

#tag{
    height: auto;
    width: 65px;
    position: absolute;
    border: 1px solid blue;
    left: 545px;
    top: 10px;
}
#tag-list{
    font-size: 0.8rem;
    font-weight: bold;
    /* color: lightgray; */
    /* background-color: gray; */
    list-style: none;
}

#post-author{
    font-size: 0.9rem;
    height: auto;
    width: 65px;
    position: absolute;
    border: 1px solid blue;
    top: 75px;
    left: 545px;
}
