.qstn-container{
    height: 100vh;
    position: relative;
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
}

.qstn-sent{
    height: auto;
    max-height: 40vh;
    /* border: 1px solid orange; */
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.qstn-sent::-webkit-scrollbar { /* WebKit*/
    width: 7px;
    height: auto;
    color: #9e372f;
}
/* Track */
.qstn-sent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #9e372f; 
  border-radius: 10px;
}
 
/* Handle */
.qstn-sent::-webkit-scrollbar-thumb {
  background: #9e372f; 
  border-radius: 7px;
}

/* Handle on hover */
.qstn-sent::-webkit-scrollbar-thumb:hover {
  background: #9e372f; 
} 

.qstn-recieved{
    height: auto;
    /* max-height: 45vh; */
    top: 500px;
    /* border: 1px solid green; */
    overflow-y: scroll;
    overflow-x: hidden;
}

.qstn-recieved::-webkit-scrollbar { /* WebKit*/
    width: 7px;
    height: auto;
    color: #9e372f;
}
/* Track */
.qstn-recieved::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #9e372f; 
  border-radius: 10px;
}
 
/* Handle */
.qstn-recieved::-webkit-scrollbar-thumb {
  background: #9e372f; 
  border-radius: 7px;
}

/* Handle on hover */
.qstn-recieved::-webkit-scrollbar-thumb:hover {
  background: #9e372f; 
} 

.post{
    height: auto;
    /* border: 1px solid red; */
    position: relative;
    margin: 5px 7px;
    padding: 5px;
    /* overflow-y: scroll;
    overflow-x: hidden; */
    box-shadow: -3px -3px 7px rgb(179, 179, 179), 3px 3px 7px rgb(228, 228, 228);
    
}



#post-data{
    overflow-y: scroll;
    overflow-x: hidden;
}

#post-btn{
    position: absolute;
    left: 475px;
    top: 5px;
}
#like{
    font-size: x-large;
    margin-top: 5px;
    margin-bottom: 10px;   
    border: none;
    background-color: transparent;
    cursor: pointer;

}
#dislike{
    font-size: x-large;
    margin-top: 5px;
    margin-bottom: 15px; 
    border: none;
    background-color: transparent;
    cursor: pointer;

}
#no{
    padding: 3px;
}
#goto{
    width: 30px;
    cursor: pointer;
    margin-left: 15px;
    position: absolute;
    top: 75px;
    left: -10px;
    color: rgb(145, 47, 47);
}
#like:focus{
    outline: none;
}
#dislike:focus{
    outline: none;
}

#tag{
    height: auto;
    width: 65px;
    position: absolute;
    /* border: 1px solid blue; */
    left: 545px;
    top: 10px;
}
#tag-list{
    font-size: 0.8rem;
    font-weight: bold;
    /* color: lightgray; */
    /* background-color: gray; */
    list-style: none;
}

#post-author{
    font-size: 0.9rem;
    height: auto;
    width: 65px;
    position: absolute;
    /* border: 1px solid blue; */
    top: 75px;
    left: 545px;
}
